<template>
  <div class="hello">
    <h1>Scy-sar Cipher Tool</h1>
    <h3>Input</h3>
    <textarea
      name="input"
      id="input"
      v-model="input"
      style="width: 600px; height: 300px"
    /><br />
    <h3>Key</h3>
    (shorter than input)<br />
    <input type="input" name="key" id="key" v-model="key" />
    <p>
      <button v-on:click="encrypt">Encrypt</button>
      <button v-on:click="decrypt">Decrypt</button>
    </p>
    <h3>Output</h3>
    <textarea
      disabled
      name="output"
      id="output"
      v-model="output"
      style="width: 600px; height: 300px"
    />
    <p>{{ temp }}</p>
  </div>
</template>

<script>
export default {
  name: "Main",
  data: function () {
    return {
      msg: "This thing works quite funny",
      input: "",
      output: "",
      key: "",
      temp: "",
      debug: null,
    };
  },
  methods: {
    encrypt() {
      if (this.key.length > this.input.length) {
        this.output = "Error: Provide a key shorter than input length";
        return;
      }

      // transform string into numbers with scheme utf-8
      let s1buffer = Buffer.from(this.input, "utf8");

      /* 
      STAGE 1
      encrypt by:
       adding key and data together, by looping key over the data ,i.e. 
      data = computer
      key = bms

      stage 1 cipher = c+b,o+m,m+s,p+b,u+m,t+s ... , addition performed with the numeric code of the char
      output = [hex of sum]

      
      */
      for (let i = 0; i < s1buffer.length; i++) {
        let store = s1buffer[i];
        s1buffer[i] = store + this.key.charCodeAt(i % this.key.length);
      }
      let s1output = s1buffer.toString("hex");
      /*
 
      STAGE 2 : Ancient Skytale Cipher
      take hex of output and perform skytale cipher, with the "prism sides" of length of key
*/

      const column = this.key.length;
      let fragment = s1output.split("");
      let rows = fragment.length / column;
      let result = "";

      for (let i = 0; i < column; i++) {
        for (let j = 0; j < rows; j++) {
          if (column * j + i < fragment.length) {
            result = result + fragment[column * j + i];
          } else {
            result = result + "=";
          }
        }
      }

      let base64str = Buffer.from(result, "hex");

      this.output = base64str.toString("base64");
    },
    decrypt() {
      let hexstr = Buffer.from(this.input, "base64").toString("hex");

      //reverse process
      const column = this.key.length;
      let fragment = hexstr.split("");
      let rows = fragment.length / column;
      let result = "";

      for (let j = 0; j < rows; j++) {
        for (let i = 0; i < column; i++) {
          if (column * j + i < fragment.length) {
            result = result + fragment[rows * i + j];
          } else {
            result = result + "=";
          }
        }
      }

      // this.output = result;

      let s1buffer = Buffer.from(result, "hex");

      // this.output = s1buffer.toString("utf8");

      for (let i = 0; i < s1buffer.length; i++) {
        let store = s1buffer[i];
        s1buffer[i] = store - this.key.charCodeAt(i % this.key.length);
      }

      let s1output = s1buffer.toString("utf8");

      this.output = s1output;
    },
  },
  computed: {
    input_code() {
      return Buffer.from(this.input, "utf8").toJSON();
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
